:root {
    --color-white: #e4e4f0;

    --color-black-1: #121418;
    --color-black-2: #1e2028;
    --color-black-3: #2a2d36;
    --color-black-4: #363a44;
    --color-black-5: #424651;
    --color-black-6: #4e515f;
    --color-black-7: #5a5e6d;
    --color-black-8: #666a7b;
    --color-black-9: #727589;

    --color-primary-1: hsl(258, 58%, 56%);
    --color-primary-2: hsl(271, 66%, 57%);
    --color-primary-3: hsl(284, 74%, 58%);
    --color-primary-4: hsl(297, 82%, 59%);
    --color-primary-5: hsl(310, 90%, 60%);
    --color-primary-6: hsl(323, 98%, 61%);
    --color-primary-7: hsl(336, 100%, 61%);
    --color-primary-8: hsl(0, 100%, 50%);
}
